html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:first-child {
  position: absolute;
  left: 20%;
  top: 100px;
  transform: rotate(-12deg);
  z-index: 1;
}

.polaroid:first-child:hover {
  z-index: 1000;
  transform: rotate(0deg);
}

.polaroid:nth-child(2) {
  left: 30%;
  top: 150px;
  z-index: 3;
  transform: rotate(0deg);
}

.polaroid:nth-child(2):hover {
  z-index: 1000;
  transform: rotate(4deg);
}

.polaroid:last-child {
  position: absolute;
  left: 40%;
  top: 100px;
  z-index: 2;
  transform: rotate(35deg);
}

.polaroid:last-child:hover {
  z-index: 1000;
  transform: rotate(0deg);
}
